<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nwafu.cattakeout.mapper.DishMapper">

    <select id="selectAllDishDTO" resultType="com.nwafu.cattakeout.dto.DishDTO">
        select dish. id as id, dish. name  as name, dish.category_id as categoryId,dish. price as price,
        dish. code as code, dish. image as image, dish. description as description, dish. status as status,
        dish.update_time as updateTime ,dish. is_deleted as isDeleted, category .name as categoryName
        from dish, category
        where dish. category_id = category. id

    </select>

<!--    <select id="demo22" resultMap="DISH">-->
<!--        select  test1.id as test_id, data. id as data_id, data. year, data. month-->
<!--        from test1,data-->
<!--        where test1.data = data.test_id-->
<!--    </select>-->

<!--    <resultMap id="DISH" type="com.nwafu.cattakeout.pojo.Test">-->
<!--        <result property="id" column="test_id"/>-->
<!--        <collection property="list" ofType="com.nwafu.cattakeout.pojo.Datad">-->
<!--            <result property="id" column="data_id" />-->
<!--            <result property="year" column="year"/>-->
<!--            <result property="month" column="month" />-->
<!--        </collection>-->
<!--    </resultMap>-->

<!--    <resultMap id="DishDTO" type="com.nwafu.cattakeout.dto.DishDTO">-->
<!--        <result property="categoryName" column="name"/>-->
<!--        <result property="flavors" column="age"/>-->
<!--        <result property="copies" column="gender"/>-->
<!--        <collection property="flavors" ofType="com.nwafu.cattakeout.pojo.DishFlavor">-->

<!--        </collection>-->
<!--    </resultMap>-->


</mapper>